
 
    <div [class]="theme">
        <mat-toolbar  class="headingbottompadding" color="primary">
        <div class="nav-button-row">
            <button mat-button color="basic" routerLink="/employees">Employees</button>
            <button mat-button color="basic" routerLink="/projects">Projects</button>
          
        </div>
        <p class = "app-name">Project Management Application</p>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex='100'>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>line_weight</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="themeChanging('theme-one')" mat-menu-item>Light Theme</button>
            <button (click)="themeChanging('theme-two')" mat-menu-item>Dark Theme</button>
          </mat-menu>
        </div>
        </mat-toolbar>
        <router-outlet></router-outlet> 
      </div>
        
      