<div class="add-div">
  <button mat-raised-button (click)="onCreate()" color = "primary"><mat-icon>add</mat-icon>CREATE</button>
</div>
<mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>
    <ng-container matColumnDef="projectName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.projectName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="assignMember">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Assign members</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.assignMember}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="descriptions">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descriptions</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.descriptions}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="projectType">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Project Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.projectType}}</mat-cell>
    </ng-container>
   
   
   

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading..
      </mat-footer-cell>
      
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No Data
      </mat-footer-cell>
      
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':listData!=null }"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
