/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css'
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "theme/theme";


.container{
    margin: 0px 40px; //top and bottom margin 0px and left and right margin 40px
}

.app-name{
    margin-left: 270px; 
}
.header{
    background-color: orangered;
    color: azure;
    
    
    
}
.fill-remaining-space{
    flex: 1 1 auto; // It sizes the item based on its width/height properties, but makes it fully flexible so that they absorb any extra space along the main axis
}

.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 5%;
}
.controles-container > *{
    width: 100%;
    
}

.add-bottom-padding{
    margin: 10px;
}

mat-radio-group mat-radio-button {
    margin-left: 5px;
}

.button-row button{
    margin: 30px;

}
.hide{
    display: none;
}

mat-footer-row mat-footer-cell{
    justify-content: center;
}

.add-div{
    margin: 20px 150px 20px 1220px;
}
.search-form-field{
    width: 100%;
    margin-bottom:20px; 
    padding: 0px 0px;
    background-color: #774a4a;
    color: aliceblue;
   
    
    }
    .search-form-field div.mat-form-field-underline {
        display: none;
    }
    .search-form-field div.mat-form-field-infix{
        border-top: 0px;
    }
    .search-form-field div.mat-form-field-wrapper{
      padding-bottom: 0px;
  }
  .search-form-field div.mat-form-field-suffix button{
      height: 40px;
      width: 40px;
  }